body{
    text-align: center;
    background-image: linear-gradient();
    color:crimson;
    letter-spacing: 2px;
}

h1
{
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 1px;
}

.dog{
    height: 300px;
    width: 300px;
}

.ear{
    height: 300px;
    width: 300px;
}